*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#display{
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: grey;
    color: white;
}
.container{
    background-color: black;
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4 ,1fr);
    gap: 10px;
    padding: 25px;
}
.btns{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0,0%,30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;;
    cursor: pointer;
}
.btns:hover{
    background-color: hsl(0,0%,40%);
}
.btns:active{
    background-color: hsl(0,0%,50%);

}
.operator{
    background-color: rgb(255,164,0,60%);
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: none;
    color: white;
    font-size: 3rem;
    font-weight: bold;;
    cursor: pointer;
}
.operator:hover{
    background-color:  rgb(255,164,0,70%);
}
.operator:active{
    background-color:  rgb(255,164,0,80%);
}